In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('KCQT.csv')

In [4]:
df

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,70,63,77,63,82,52,107,1886,1985,0.0,0.0,0.09
1,2014-7-2,70,62,77,63,82,51,102,1887,1985,0.0,0.0,0.00
2,2014-7-3,72,63,81,63,82,52,100,1902,1985,0.0,0.0,0.00
3,2014-7-4,72,62,82,63,82,53,103,1900,1907,0.0,0.0,0.07
4,2014-7-5,75,64,86,63,82,50,100,1886,1907,0.0,0.0,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,69,60,78,62,80,48,112,1894,1990,0.0,0.0,0.19
361,2015-6-27,70,62,77,62,81,49,109,1894,1990,0.0,0.0,0.39
362,2015-6-28,77,67,86,62,81,52,98,1887,1980,0.0,0.0,0.00
363,2015-6-29,80,68,91,62,81,50,98,1893,1996,0.0,0.0,0.03
364,2015-6-30,78,67,89,62,81,49,100,1894,1985,0.0,0.0,0.01